.simple-button
  display: inline-block
  width: fit-content
  height: 30px
  margin: 5% 0
  &-content
    position: relative
    display: flex
    align-items: center
    height: 100%
    font-size: 1.2em
    font-weight: 700
    &::after
      position: absolute
      left: 0
      bottom: -4px
      content: ''
      width: 100%
      height: 3px
      background-color: $secondary-color
      transition: width .2s
  &-arrow
    width: 18px
    height: 20px
    margin-left: 10px
    transition: margin-left .2s
  &:hover &-arrow
    margin-left: 20px
