@font-face
  font-family: 'Satoshi-Variable'
  src: url('../fonts/Satoshi-Variable.ttf') format('truetype')
  font-weight: 300 900
  font-display: swap
  font-style: normal

// Variables
$primary-color: #13241D
$secondary-color: #F2E8B5
$third-color: #F9F8F6

$breakpoints: (mobile: 550px, tablet: 1200px)

html
  --scroll-behavior: smooth
  scroll-behavior: smooth
  overflow-x: hidden

body
  font-family: 'Satoshi-Variable', 'Helvetica', sans-serif
  background-color: white
  color: $primary-color
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  overflow-x: hidden

*
  &::selection
    background-color: $secondary-color

main
  position: relative
  margin: 0 auto
  // padding: 0 30px
  // max-width: 1300px
  @media screen and (max-width: map-get($breakpoints, mobile))
    // padding: 0 20px

h1, h2
  font-weight: 800
  font-size: 3.2em
  margin-bottom: 1rem
  @media screen and (max-width: map-get($breakpoints, mobile))
    font-size: 2em

h3
  font-weight: 800
  font-size: 1.7em
  margin-bottom: 1rem

h4
  font-weight: 800
  font-size: 1.2em

h5
  font-weight: 800
  font-size: 1em

h6
  font-weight: 800
  font-size: 0.8em

p
  font-weight: 400
  font-size: 1rem
  line-height: 1.7em

a
  display: block
  text-decoration: none
  color: inherit
  font-weight: 500

section
  margin-bottom: 100px
