@import '../../../node_modules/minireset.css/minireset'
@import './layout/layout'
@import './components/marquee'
@import './components/navigation'
@import './pages/homepage'
@import './components/when'
@import './components/botbutton'
@import './components/postcard'
@import './components/status'

.herotrico
  width: 200px

.avatarhome
  width: 200px

.img-post
  width: 200px
